<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/security 
           http://www.springframework.org/schema/security/spring-security-2.0.xsd
           http://www.springframework.org/schema/lang 
           http://www.springframework.org/schema/lang/spring-lang-2.5.xsd">

	<security:http auto-config='true'
		access-denied-page="/pages/denied/viewAccessDenied.jsf">
		<security:intercept-url pattern="/pages/login/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/pages/customer/**"
			access="ROLE_USER, ROLE_ADMIN, ROLE_CUSTOMER, ROLE_DESENV" />
		<security:intercept-url pattern="/pages/user/**"
			access="ROLE_USER, ROLE_ADMIN, ROLE_DESENV" />
		<security:intercept-url pattern="/pages/admin/**"
			access="ROLE_ADMIN, ROLE_DESENV" />
		<security:intercept-url pattern="/pages/developer/**"
			access="ROLE_DESENV" />
		<security:concurrent-session-control
			max-sessions="1" />
		<!-- <security:form-login login-page="/pages/login/viewLogin.jsf" login-processing-url="/j_spring_security_check" 
			default-target-url="/pages/login/viewLogin.jsf" authentication-failure-url="/pages/login/viewLogin.jsf" 
			/>  -->
		<security:logout logout-url="/logout"
			logout-success-url="/" />
	</security:http>

	<!-- <security:authentication-provider> <security:user-service properties="/WEB-INF/users.properties"> 
		</security:user-service> </security:authentication-provider> -->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/controldefault" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="username" value="root" />
		<property name="password" value="nkbr02" />
	</bean>

	<security:authentication-provider>
		<security:jdbc-user-service
			data-source-ref="dataSource"
			users-by-username-query="SELECT	login, passwd, 'true' as enable FROM user WHERE login=?"
			authorities-by-username-query="select u.login, r.name as role_id from user u, role r where u.login=? and r.id=u.role_id" />
		<security:password-encoder hash="md5" />
	</security:authentication-provider>

</beans>
